/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
   
/* Clases generales*/

.yellow {
  color: rgb(255, 217, 0);
}

.space {
  margin-top: 1em;
}
body {
  background-image: url("../assets/images/fondo.png");
  background-size: 100vw 200vh;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* Styles for header */


header {
  text-align: center;
}

.container-button {
  margin-top: 35px;
}

.button {
  border-radius: 50%
}

span {
  color: linear-gradient(140deg, #173430 , #000, #173430);
}

hr {
  margin-top: 0;
  height: 1px;
  width: 50%;
  background-color: rgb(255, 217, 0);
  border: 1px solid rgb(255, 217, 0);
}

/* Styles for form */

form {
  border: 2px solid rgb(255, 217, 0);
  border-radius: 5px;
  padding: 2em 2em;
}

.container-input {
  margin-bottom: 2rem;
}

.transparent {
background: transparent;
color: #fff;
}

/* Estilo de focus de los inputs */
.focus-input {
  border-color: rgb(255, 217, 0);
  border-color:rgba(255, 217, 0.8);
  outline: 0;
  outline: thin dotted\9;
  -webkit-box-shadow: 0 0 8px rgba(255, 217, 0, 0.6);
  box-shadow: 0 0 8px rgba(255, 217, 0, 0.6);
}

/* Style for placeholder */

.transparent::placeholder { 
  color: #fff; 
}

.text-color {
  color: #fff;
}

.color {
  color: #3f3f3f;
}

.container-checkbox {
  text-align: center;
  margin-top: 3rem;
}

.container-button-next {
  font-family: 'Press Start 2P', cursive;
  margin-top: 2rem;
}

.button-next {
  background: #fff;
  color: rgb(255, 217, 0);
  margin-bottom: 1em;
}


