/* Gobal */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/images/group.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color:white;
}

/* Styles for container */
h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:white;
}

.help-block {
  color:white;
}

#submit {
  font-family: 'Press Start 2P', cursive;
}

#submit {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: #fff;
  padding: 1rem 2rem;
}

.transparent {
  background: transparent;
  color: #fff;
}
  
/* Style for placeholder */
  
.transparent::placeholder { 
  color: #fff; 
}
