/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body { 
  padding-top: 270px; 
}
       
/* Styles for header */

.container-header {
  height: 8rem;
  display: flex;
  justify-content: center;
  background-color: #0b0e11;
}

.container-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.plus {
  display: inline-block;
  color: #fff;
  font-size: 3em;
}

div .circle{
  display: inline-block;
  height: 4rem;
  width: 4rem;
  /* margin-right: 0.2rem; */
  background: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
}

.container-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-two {
  font-size: 2.5em;
  text-decoration: none;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* Styles for Container notifications */
  
.container-input {
margin-bottom: 2rem;
}

.icon-game {
  color: rgb(21, 68, 22);
}

.container-user {
  margin-bottom: 1rem;
}

.user-icon {
  color: rgb(21, 68, 22);
  font-size: 6rem;
}

.text {
  color: #000;
  text-align: justify;
}

/* Modal day*/ 

.button-cloud-upload {
  border: none;
  background-color: #173430;
}
  
