/* Gobal */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  padding-top:270px;
}

/* Styles for header */

.nav-header {
  margin-top: 10px;
}

.container-list {
  margin-right: 30px;
  margin-top: 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-weight: 700;
}

.container-header {
  height: 8rem;
  display: flex;
  justify-content: center;
  background-color: #0b0e11;
}
  
.container-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-grey-white {
  margin-top: 15px;
  margin-left: 15px;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.container-game {
  display: flex;
  align-items: center;
}

.image {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid #fff;
  margin-right: 1rem;
}

h4 {
  height: 4rem;
  color: white;
}

.container-close {
  margin-right: 2rem;
  color: #fff;
}

.modify {
  background: transparent;
  border: 0;
}
 
.plus {
  display: inline-block;
  color: #fff;
  font-size: 3em;
}
  
div .circle{
  display: inline-block;
  height: 4rem;
  width: 4rem;
  margin-right: 0.2rem;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
}
  
.container-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.icon-two {
  font-size: 2em;
  text-decoration: none;
  color: white;
}
  
hr {
  margin-top: 0;
  margin-bottom: 0;
}

.hamburger {
  font-size: 1.3em;
  margin-left: 3.5em;
}

/*Estilos Imagen - videos*/

.profile {
  display: inline-block;
  height: 18em;
  width: 18em;
}

.photo-profile {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}

.container-info-user {
  display: flex;
  justify-content: center;
}

.updates {
  text-align: center;
}

.pencil {
  font-size: 2em;
  text-align: center;
}

#updates {
display: inline;
}

/* video/image button style */

.buttons{
  background: linear-gradient(145deg, #0f0f0f , #1a2421, #1c352d);
  color: white;
}

.thumbs-container {
  padding-bottom: 25px;
}

/* "Like" button/option*/

.thumbs{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 2em;
}

/* Styles for modal */

.background-modal {
  width: 90%;
  top: 1rem;
}

.background-modal span {
  color: #000;
}

.background-modal h1 {
  color: #000;
}

[alt="map-modal"] {
  width: 100%;
  height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background-modal-body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-text p{
  color: #000;
  margin-bottom: 1rem;
}

.color-button {
  background-color: #F0AD4E;
  margin-bottom: 1rem;
}

/* Styles for Container imagenes */

.container-input {
  width: 100%;
  display: inline-flex;
  margin-bottom: 2rem;
}

.container-images {
  margin-bottom: 2rem;
}

.text-img {
  font-family: 'Press Start 2P', cursive;
}

.container-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
  
/* Styles for file input */

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  background-color: #173430;
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.iborrainputfile {
  color: #fff;
  font-size:16px; 
  font-weight:normal;
  font-family: 'Lato';
}

.container-img {
  margin-bottom: 2rem;
}

.title-img {
  color: #000;
  text-align: center;
}
  
[alt="jugada"] {
  width: 100%;
  height: 20rem; 
}

/* Styles for Container videos */

.container-input {
  width: 100%;
  display: inline-flex;
}

.container-button-next {
  border: none;
}
  
.button-cloud-upload {
  border: none;
  background-color: #173430;
}

.title-video {
  color: #000;
  text-align: center;
}

.container-video {
  margin-bottom: 2rem;
}

.video {
  width: 100%;
  height: 20rem; 
}

/*Modal styles*/

.font-color {
  color:#465945;;
}

.color {
  color: #000;
}

/* Modal day*/ 

.button-cloud-upload {
  border: none;
  background-color: #173430;
  margin-top: 2rem;
}

/* styles for chat */

.col-md-2, .col-md-10{
  padding:0;
}
.panel{
  margin-bottom: 0px;
}
.chat-window{
  bottom:0;
right:0;
  position:fixed;
  float:right;

}
.chat-window > div > .panel{
  border-radius: 5px 5px 0 0;
}
.icon_minim{
  padding:2px 10px;
}
.msg_container_base{
background: #e5e5e5;
margin: 0;
padding: 0 10px 10px;
max-height:300px;
overflow-x:hidden;
}
.top-bar {
background: #666;
color: white;
padding: 10px;
position: relative;
overflow: hidden;
}
.msg_receive{
  padding-left:0;
  margin-left:0;
}
.msg_sent{
  padding-bottom:20px !important;
  margin-right:0;
}
.messages {
background: white;
padding: 10px;
border-radius: 2px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
max-width:100%;
}
.messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}
.messages > time {
  font-size: 11px;
  color: #ccc;
}
.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}
.chatimg {
  display: block;
  width: 100%;
}
.avatar {
  position: relative;
}
.base_receive > .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #FFF;
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
justify-content: flex-end;
align-items: flex-end;
}
.base_sent > .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
  float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.btn-group.dropup{
  position:fixed;
  left:0px;
  bottom:0;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #ccace0;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}


