/* Gobal */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    padding-top:270px;
}

 /* Styles for header */

 .container-header {
    height: 8rem;
    display: flex;
    justify-content: center;
    background-color: #0b0e11;
  }
  
  .container-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-game {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h4 {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: white;
  }
  
  .plus {
    display: inline-block;
    color: #fff;
    font-size: 3em;
  }
  
  div .circle{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin-right: 0.2rem;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
  }
  
  .container-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-two {
    font-size: 2em;
    text-decoration: none;
    color: white;
  }
  
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*Estilos Imagen - videos*/

.profile {
  height: 18em;
  width: 18em;
}

h3 {
    text-align: center;
}

.updates {
  text-align: center;
}

.pencil {
  font-size: 2em;
  text-align: center;
}

#updates {
display: inline;
}

/* video/image button style */
.buttons{
  background: linear-gradient(145deg, #0f0f0f , #1a2421, #1c352d);
  color: white;
}


.thumbs-container {
  padding-bottom: 25px;
}

/* "Like" button/option*/
.thumbs{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 2em;
}
/* Styles for modal */

.background-modal {
  width: 90%;
  top: 1rem;
}

.background-modal span {
  color: #000;
}

.background-modal h1 {
  color: #000;
}

[alt="map-modal"] {
  width: 100%;
  height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background-modal-body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-text p{
  color: #000;
  margin-bottom: 1rem;
}

.color-button {
  background-color: #F0AD4E;
  margin-bottom: 1rem;
}

/*Modal styles*/

.font-color {
  color:#465945;;
}