/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;
}

/* Styles for main view */

.background {
  background-image: url("../assets/images/jugando.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: #ffff00;
}
  
.container-button {
  top: 15rem;
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.button {
  background-color: #ea4335;
  border-color: #ea4335;
  color: #fff;
  padding: 1rem 2rem;
}

.button:active, .button:hover {
  background-color: #ea4335;
  border-color: #ea4335;
  color: #fff;
  padding: 1rem 2rem;
}


  
