<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Bootstrap.css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- tipo de letra -->
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="../css/plays.css">
  <title>AFK</title>

</head>

<body>
  <!-- Navegation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <!-- Title -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 container-header">
          <div class="col-xs-12 container-header-title">
            <h4>Jugadas del dia</h4>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <!-- Images / videos subidos por parte de usuarios -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12  container-header">
          <div class="col-xs-2 container-icon">
            <a href="#" data-toggle="modal" data-target="#modalGoUp">
              <span class="glyphicon glyphicon-plus-sign plus" aria-hidden="true"></span>
            </a>
          </div>
          <div class="col-xs-10 container-game">
            <div class="circle center-block col-xs-2 col-md-2"></div>
            <div class="circle center-block col-xs-2 col-md-2"></div>
            <div class="circle center-block col-xs-2 col-md-2"></div>
            <div class="circle center-block col-xs-2 col-md-2"></div>
            <div class="circle center-block col-xs-2 col-md-2"></div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <!-- Iconos  -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 container-header">
          <div class="col-xs-4  col-md-4 container-button-icon">
            <a href="#">
              <span class="glyphicon glyphicon-modal-window icon-two" aria-hidden="true"></span>
            </a>
          </div>
          <div class="col-xs-4  col-md-4 container-button-icon">
            <a href="#">
              <span class="glyphicon glyphicon-user icon-two" aria-hidden="true"></span>
            </a>
          </div>
          <div class="col-xs-4  col-md-4 container-button-icon">
            <a href="#">
              <span class="glyphicon glyphicon-bell icon-two" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </nav>
  <!-- profile information -->
  <br>
  <div class="container">
    <div class="row">
      <img src="../assets/images/perfil.jpg" class="profile img-responsive img-rounded center-block" alt="A-C">
      <h3 id="name-user"></h3>
      <p id="text-user" class="updates"></p>
    </div>
  </div>
  <!-- Profile Update -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock" placeholder="Cuentanos, tus aventuras del día...">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <!-- Uploading options: videos -->
      <div class="col-xs-12 col-lg-12 container-button">
        <div class="col-xs-6 col-md-6">
          <a class="btn btn-default buttons center-block" href="#" role="button">Videos</a>
        </div>
        <!-- Uploading options: Images -->
        <div class="col-xs-6 col-md-6">
          <a id="sign-up" class="btn btn-default buttons center-block" href="#" role="button">Imagenes</a>
        </div>
      </div>
    </div>
    <br>
    <!-- "like" Option -->
    <div class="container col-xs-12 col-lg-12">
      <div class="row">
        <div class="col thumbs-container">
          <span class="glyphicon glyphicon-thumbs-up thumbs center-block" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <!-- Modal for Sign Up -->
    <div class="modal fade" id="modalGoUp" tabindex="-1" role="dialog" aria-labelledby="modalGoUp">
      <div class="modal-dialog" role="document">
        <div class="modal-content background-modal-singUp center-block">
          <div class="modal-body background-modal-singUp-body ">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <form>
              <div class="form-group row">
                <div class="col-xs-12">
                  <h3>Sube tu jugada del día</h3>
                  <button id="sign-up" class="col-xs-12 btn btn-info button-cloud-upload" type="submit">Go up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Import jQuery and Bootstrap.js -->
      <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
      <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../js/plays.js"></script>
</body>

</html>