<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Bootstrap.css-->
    <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!-- tipo de letra -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="../css/plays.css">
    <title>AFK</title>
  
</head>
<body>
    <!-- Titles -->
    <div class="container-fluid">
        <div class="row">
            <h3>Jugadas del dia</h3>
            <hr>
        </div>
    </div>
    <!-- images / videos uploaded by username -->
    <div class="container-fluid">
        <div class="row">
            <a href="#"><span class="glyphicon glyphicon-plus-sign col-md-2
            " aria-hidden="true"></span> </a>
            <div class="circle center-block col-md-2"></div>
            <div class="circle center-block col-md-2"></div>
            <div class="circle center-block col-md-2"></div>
            <div class="circle center-block col-md-2"></div>
            <div class="circle center-block col-md-2"></div>
            <hr>
        </div>
    </div>
    <!-- icons  -->
    <div class="container-fluid">
        <div class="row">
               <a href="#"> <span class="glyphicon glyphicon-modal-window icon-two col-md-4
                " aria-hidden="true"></span></a>
                <a href="#"><span class="glyphicon glyphicon-user icon-two col-md-4" aria-hidden="true"></span></a>
                <a href="#"><span class="glyphicon glyphicon-bell icon-two col-md-4" aria-hidden="true"></span></a>
                <hr>
        </div>
    </div>
    <!-- profile information -->
    <div class="container">
        <div class="row">
            <img src="../assets/images/perfil.jpg" class="profile img-responsive img-rounded center-block" alt="A-C">
            <h3>Jose Pérez</h3>
            <p class="updates">"Tu, yo y la consola, no se, piénsalo..."</p>
        </div>
    </div>
    <!-- Profile Update -->
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock" placeholder="Cuentanos, tus aventuras del día">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
     <!-- Uploading options: videos -->
    <div class="col-xs-12 col-lg-12 container-button">
            <div class="col-xs-6">
              <a class="btn btn-default button" href="#" role="button">Videos</a>
            </div>
    <!-- Uploading options: Images -->
            <div class="col-xs-6">
              <a id="sing-up" class="btn btn-default button" href="#" role="button">Imagenes</a>
            </div>
    </div>
        </div>
        <br>
        <!-- "like" Option -->
        <div class="container col-xs-12 col-lg-12">
            <div class="col-xs-6">
                <span class="glyphicon glyphicon-thumbs-up thumbs text-center" aria-hidden="true"></span>
            </div>
        </div>

    

<!-- Import jQuery and Bootstrap.js -->
<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/plays.js"></script>
</body>
</html>